@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.dashboard-app,
.dashboard-content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

.dashboard-app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e2dfdb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}